# .env
DB_ENGINE='your DB type' # django.db.backends.postgresql
DB_NAME='your DB name' # postgres
POSTGRES_USER='DB login' # postgres
POSTGRES_PASSWORD='your new DB password' # postgres
DB_HOST='service name (container)' # db
DB_PORT='your Data Base port' # 5432

SECRET_KEY='your SECRET_KEY'
ALLOWED_HOSTS = 'your ALLOWED_HOSTS' # 127.0.0.1 localhost backend
DEBUG = 'Debug mode: True or False'
LANGUAGE_CODE = 'your LANGUAGE_CODE' # 'ru-RU'
TIME_ZONE = 'your TIME_ZONE' # 'Europe/Moscow'